.navbar {
  border: var(--troubleshootingBorder);
  display: flex;
  background: linear-gradient(antiquewhite, burlywood);
  border-bottom: goldenrod;
  border-style: outset;
}
.navbar > nav {
  width: 100%;
}
.navbar__menu {
  border: var(--troubleshootingBorder);
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  list-style-type: none;
}
.navbar__menu > li {
  border: var(--troubleshootingBorder);
  width: 40%;
  background-image: url(../assets/images/1454771477.svg);
  border: inset maroon;
  text-align: center;
}

.navbar__title {
  border: var(--troubleshootingBorder);
  width: 100%;
}

.navbar__items {
  border: var(--troubleshootingBorder);
  text-align: center;
  text-decoration: none;
}

.navbar__items:hover {
  font-size: large;
}
