/* border-box default  */
* {
    box-sizing: border-box;
}

:root {
    /* Box Trouleshooting var; comment if not neccessary  */
     /*--solidBox: solid 5px black; */
     --backgroundColorOne: beige;
     --backgroundColorTwo: burlywood;
}

/* Default Tags */
body {
    font-family: Century Gothic;
}

/* Box Classes */
/* Box: parent  */
.Box-Parent {
    border: var(--solidBox);
    width: 100%;
    margin: 1%;
    border-radius: 2%;
    background-color: ghostwhite;
}
/* Box: Name  */
.Box-Name {
    border: var(--solidBox);
    width: 45%;
    float: left;
    margin-bottom: 2%;
    margin-left: 2%;
    background-color: var(--backgroundColorOne);
}
/* Box: Navbar  */
.Box-Navbar {
    border: var(--solidBox);
    width: 45%;
    float: right;
    margin-bottom: 2%;
    background-color: var(--backgroundColorOne);
}
/* Box: Photo */
.Box-Photo {
    border: var(--solidBox);
    width: 45%;
    float: left;
    margin-bottom: 2%;
    margin-left: 2%;
    background-color: var(--backgroundColorTwo);
}
/* Box: Tags  */
.Box-Tags {
    border: var(--solidBox);
    width: 45%;
    float: right;
    margin-bottom: 2%;
    background-color: var(--backgroundColorTwo);
}
/* Box: left: Contact  */
.Box-Left-Contact {
    border: var(--solidBox);
    width: 45%;
    float: left;
    margin-bottom: 2%;
    margin-left: 2%;
    background-color: var(--backgroundColorOne);
}
/* Box: right: Contact  */
.Box-Right-Contact {
    border: var(--solidBox);
    width: 45%;
    float: right;
    margin-bottom: 2%;
    background-color: var(--backgroundColorOne);
}
/* Box: LinkUrls  */
.Box-LinkUrls {
    border: var(--solidBox);
    margin-bottom: 2%;
    margin-left: 2%;
    background-color: var(--backgroundColorTwo);
}
/* Box: AboutYourself  */
.Box-AboutYourself {
    border: var(--solidBox);
    width: 45%;
    float: left;
    margin-bottom: 2%;
    margin-left: 2%;
    background-color: var(--backgroundColorOne);
}
/* Box: CV  */
.Box-CV {
    border: var(--solidBox);
    width: 45%;
    float: right;
    background-color: var(--backgroundColorOne);
}
/* Box: Footer  */
.Box-Footer {
    border: var(--solidBox);
    float: left;
    margin-left: 2%;
    background-color: var(--backgroundColorTwo);
}
/* Float Divider */
.float-divider {
    clear:both;
}
/* Box Classes End */

/*image-props*/
.image-props {
    border-radius: 45%;
}
